<% @categories.each do |category| %>
  <%= link_to edit_ledger_category_path(@ledger, category) do %>
    <div>
     <p><%= category.name %></p> 
    </div>
  <% end %>
  <% category.subcategories.each do |subcat| %>
    <p><%= subcat.name %></p>
    <br>
  <% end %>
  <br>
  <br>
<% end %>